<ion-header>
  <ion-toolbar  color="primary">
      <ion-buttons slot="start">
        <ion-menu-button  ></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Settings
    </ion-title>
    <ion-buttons slot="end"  >
      <ion-button  expand="block" >
    
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
   
  </ion-toolbar>
 
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label>Service Worker</ion-label>
      <ion-toggle [(ngModel)]="status"   color="primary" (ionChange)="change_status($event)" checked="{{status}}"></ion-toggle>
    </ion-item>
    <ion-item>
    <ion-button shape="round" fill="outline" (click)="processSendData()">Outline + Round</ion-button>
    </ion-item>

   
  
  
  </ion-list>

</ion-content>
