@font-face {
    font-family: 'nuni-black';
    font-style: normal;
    font-weight: normal;
    src: url('../../assets/fonts/Quicksand/static/Quicksand-Regular.ttf');
  }
  @font-face {
    font-family: 'nuni-black';
    font-style: normal;
    font-weight: bold;
    src: url('../../assets/fonts/Quicksand/static/Quicksand-Regular.ttf');
  }
  @font-face {
    font-family: 'nuni-black';
    font-style: normal;
    font-weight: medium;
    src: url('../../assets/fonts/Quicksand/static/Quicksand-Regular.ttf');
  }
  
  * {
  
  
    font-family: 'nuni-black' !important;
  
  
  }
  .nun_blk{
    font-family: 'nuni-black' !important;
  }
  .center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 50%;
  }

  .home .scroll-content {
    display: table !important;
    width: 100% !important;
    height: 100% !important;
    margin-top: -50px; /* the height of the centered content */
    text-align: center;
  }
  .home .scroll {
    display: table-cell;
    vertical-align: middle;
  }
  .wrapper {
    display: grid;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;
  }
  .ionic-selectable-item-is-selected,.ionic-selectable-item-is-disabled
 {
   .label {
    font-family: 'nuni-black' !important;
   }
 }
 .item-list {
  font-family: 'nuni-black' !important;
}